<template>
  <h5>Editar Activos</h5>
  <form @submit.prevent="actualizar()">
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
        <div class="card-content ">
          <span class="card-title">Actualizar</span>
          <p>tipo: <input type="text" v-model="payload.tipo" required></p>
          <p>marca: <input type="text" v-model="payload.marca" required></p>
          <p>modelo: <input type="text" v-model="payload.modelo" required></p>         
          <p>estado: 
            <select v-model="payload.estado">
              <option value="nuevo" select>Nuevo</option>
              <option value="usado">Usado</option>
              <option value="desuso">Desuso</option>
            </select>
            
          </p>
          <p>area: 
            <select v-model="payload.areaId">
              <option v-for="area in areaItems" :value="area.id">{{ area.nombre }}</option>
            </select>
          </p> 
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">update</i>Actualizar</button>
        </div>
      </div>
    </div>
  </div>
  </form>
 
</template>

<script>
// @ is an alias to /src
import M from "materialize-css"
export default {
  name: 'ActivoView',
  data(){
    const api = process.env.VUE_APP_API;
    return {
      api,
      items:[],
      areaItems:[],
      search :'',
      filtro: '',
      payload:{
        marca:"",
        modelo:"",
        estado:"",
        areaid: null
      }
    }
  },
  methods: {

    update(id){
      this.$router.push('/activo/'+id);
    },
    eliminar(id){
      this.axios({
        method: 'delete',
        url: this.api + '/activo/'+id
      }).then((response) => {
        this.getList();
      }).catch((error)=>{
        console.log(error);
      })
    },
    nuevo(){
      this.axios({
        method: 'post',
        url: this.api + '/activo',
        data: this.payload
      }).then((response) => {
        this.getList();
        console.log(response);
      }).catch((error)=>{
        console.log(error);
      })
    },
    getList(){
      this.axios({
        method: 'get',
        url: this.api + '/activos?_expand=area&q=' + this.search
      }).then((response) => {
        this.items = response.data;
        console.log(response);
        console.log(this.search);
      }).catch((error)=>{
        console.log(error);
      })
    },
    getAreaList(){
      this.axios({
        method: 'get',
        url: this.api + '/areas'
      }).then((response) => {
        this.areaItems = response.data;
        const intervalo = setTimeout(()=> {
          this.intSelect();
          clearTimeout(intervalo);
        },3000)
        console.log(response);
        console.log(this.search);
      }).catch((error)=>{
        console.log(error);
      })
    },
    intSelect(){
      this.getList();
      this.getAreaList();
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    },
    getOne(){
      this.axios({ 
        method: 'get',
        url: this.api + '/activos/'+this.$route.params.id
      }).then((response) => {
        this.payload = response.data;
      }).catch((error)=>{
        console.log(error);
      })
    },
    actualizar(){
      if(confirm("Esta seguro de Actualizar?")){
        this.axios({
          method: 'patch',
          url: this.api + '/activos/'+this.$route.params.id,
          data: this.payload
        }).then((response) => {
          console.log(response);
        }).catch((error)=>{
          console.log(error);
        })
      }
    },   
  },
  components: {
    
  },
  mounted(){
    this.getOne();
    //this.getAreaList();
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  }
} 
</script>
