<template>
  <h5>Activos</h5>
  <form @submit.prevent="nuevo()">
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
        <div class="card-content ">
          <span class="card-title">Agregar</span>
          <p>tipo: <input type="text" v-model="payload.tipo" required></p>
          <p>marca: <input type="text" v-model="payload.marca" required></p>
          <p>modelo: <input type="text" v-model="payload.modelo" required></p>         
          <p>estado: 
            <select v-model="payload.estado">
              <option value="nuevo" select>Nuevo</option>
              <option value="usado">Usado</option>
              <option value="desuso">Desuso</option>
            </select>
            
          </p>
          <p>area: 
            <select v-model="payload.areaId">
              <option v-for="area in areaItems" :value="area.id">{{ area.nombre }}</option>
            </select>
          </p> 
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit">Agregar</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
        <div class="card-content ">
          <form @submit.prevent="getList()">
            <span class="card-title">Buscar Area</span>
            <p>Nombre: <input type="search" v-model="search" @search="getList()"/></p>
            <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">search</i>buscar</button>
          </form>          
        </div>
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
        <div class="card-content ">
            <span class="card-title">Filtros</span>
            <p>Estado: 
              <select @change="filter('estado',$event.target.value)">
              <option value="" select>Todos</option>
              <option value="nuevo" select>Nuevo</option>
              <option value="usado">Usado</option>
              <option value="desuso">Desuso</option>
            </select>
            </p>
        </div>
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
  <table>
        <thead>
          <tr>
              <th>ID</th>
              <th>TIPO</th>
              <th>MARCA</th>
              <th>MODELO</th>
              <th>ESTADO</th>
              <th>AREA</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in items">
            <td>{{item.id}}</td>
            <td>{{item.tipo}}</td>
            <td>{{item.marca}}</td>
            <td>{{item.modelo}}</td>
            <td>{{item.estado}}</td>
            <td>{{item.area.nombre}}</td>
            <td>  
              <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" @click="eliminar(item.id)">delete</i></a>
              <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons" @click="update(item.id)">edit</i></a>
            </td>

          </tr>
        </tbody>
      </table>
</template>

<script>
// @ is an alias to /src
import M from "materialize-css"
export default {
  name: 'ActivoView',
  data(){
    const api = process.env.VUE_APP_API;
    return {
      api,
      items:[],
      areaItems:[],
      search :'',
      filtro: '',
      payload:{
        tipo: "",
        marca:"",
        modelo:"",
        estado:"",
        areaId: null
      }
    }
  },
  methods: {

    update(id){
      this.$router.push('/activo/'+id);
    },
    eliminar(id){
      this.axios({
        method: 'delete',
        url: this.api + '/activos/'+id
      }).then((response) => {
        this.getList();
      }).catch((error)=>{
        console.log(error);
      })
    },
    nuevo(){
      this.axios({
        method: 'post',
        url: this.api + '/activos',
        data: this.payload
      }).then((response) => {
        this.getList();
        console.log(response);
      }).catch((error)=>{
        console.log(error);
      })
    },
    getList(){
      this.axios({
        method: 'get',
        url: this.api + '/activos?_expand=area&q=' + this.search + this.filtro
      }).then((response) => {
        this.items = response.data;
        console.log(response);
        console.log(this.search);
      }).catch((error)=>{
        console.log(error);
      })
    },
    getAreaList(){
      this.axios({
        method: 'get',
        url: this.api + '/areas'
      }).then((response) => {
        this.areaItems = response.data;
        const intervalo = setTimeout(()=> {
          this.intSelect();
          clearTimeout(intervalo);
        },3000)
        console.log(response);
        console.log(this.search);
      }).catch((error)=>{
        console.log(error);
      })
    },
    intSelect(){
      this.getList();
      this.getAreaList();
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    },
    filter(name,value){
      this.filtro = value === '' ? '' : '&' + name + '=' + value;
      this.getList();
    }
  },
  components: {
    
  },
  mounted(){
    this.getList();
    this.getAreaList();
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  }
} 
</script>
