<template>
  <h5>Areas</h5>
  <form @submit.prevent="nuevo()">
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
        <div class="card-content ">
          <span class="card-title">Agregar</span>
          <p>Nombre: <input type="text" v-model="payload.nombre" required></p>
          <p>Encargado: <input type="text" v-model="payload.encargado" required></p>
          <p>Nombre: <input type="number" v-model="payload.nro_funcionarios" required></p>         
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit">Agregar</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
        <div class="card-content ">
          <form @submit.prevent="getList()">
            <span class="card-title">Buscar Area</span>
            <p>Nombre: <input type="search" v-model="search" @search="getList()"/></p>
            <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">search</i>buscar</button>
          </form>          
        </div>
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
  
  <table>
        <thead>
          <tr>
              <th>ID</th>
              <th>AREA</th>
              <th>ENCARGADO</th>
              <th>NRO FUNCIONARIOS</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <tr v-for="item in items">
            <td>{{item.id}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.encargado}}</td>
            <td>{{item.nro_funcionarios}}</td>
            <td>  
              <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" @click="eliminar(item.id)">delete</i></a>
              <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons" @click="update(item.id)">edit</i></a>
            </td>

          </tr>
        </tbody>
      </table>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'AreaView',
  data(){
    const api = process.env.VUE_APP_API;
    return {
      api,
      items:[],
      search :'',
      filtro: '',
      payload:{
        nombre:"",
        encargado:"",
        nro_funcionarios:0
      }
    }
  },
  methods: {

    update(id){
      this.$router.push('/area/'+id);
    },
    eliminar(id){
      this.axios({
        method: 'delete',
        url: this.api + '/areas/'+id
      }).then((response) => {
        this.getList();
      }).catch((error)=>{
        console.log(error);
      })
    },
    nuevo(){
      this.axios({
        method: 'post',
        url: this.api + '/areas',
        data: this.payload
      }).then((response) => {
        this.getList();
        console.log(response);
      }).catch((error)=>{
        console.log(error);
      })
    },
    getList(){
      this.axios({
        method: 'get',
        url: this.api + '/areas?q=' + this.search
      }).then((response) => {
        this.items = response.data;
        console.log(response);
        console.log(this.search);
      }).catch((error)=>{
        console.log(error);
      })
    }
  },
  components: {
    
  },
  mounted(){
    this.getList();
  }
}
</script>
