<template>
  <h5>Area Editar</h5>
  <form @submit.prevent="actualizar()">
  <div class="row">
    <div class="col s12 m6">
      <div class="card white darken-1">
        <div class="card-content ">
          <span class="card-title">Actualizar</span>
          <p>Nombre: <input type="text" v-model="payload.nombre" required></p>
          <p>Encargado: <input type="text" v-model="payload.encargado" required></p>
          <p>Nro Funcionarios: <input type="number" v-model="payload.nro_funcionarios" required></p>         
        </div>
        <div class="card-action">
          <button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">update</i>Actualizar</button>
        </div>
      </div>
    </div>
  </div>
  </form>
  
</template>

<script>
// @ is an alias to /src

export default {
  name: 'AreaView',
  data(){
    const api = process.env.VUE_APP_API;
    return {
      api,
      items:[],
      payload:{
        nombre:"",
        encargado:"",
        nro_funcionarios:0
      }
    }
  },
  methods: {
    getOne(){
      this.axios({ 
        method: 'get',
        url: this.api + '/areas/'+this.$route.params.id
      }).then((response) => {
        this.payload = response.data;
      }).catch((error)=>{
        console.log(error);
      })
    },
    actualizar(){
      if(confirm("Esta seguro de Actualizar?")){
        this.axios({
          method: 'patch',
          url: this.api + '/areas/'+this.$route.params.id,
          data: this.payload
        }).then((response) => {
          console.log(response);
        }).catch((error)=>{
          console.log(error);
        })
      }
    },    
  },
  components: {
    
  },
  mounted(){
    this.getOne();
  }
}
</script>
