<template>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Sistema de Inventario F&F</a>
      <ul class="left hide-on-med-and-down">
        <li><router-link to="/area">Areas</router-link></li>
        <li><router-link to="/activo">Activos</router-link></li>        
      </ul>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Menu',
  props: {
    msg: String
  }
}
</script>

<style scoped lang="scss">
</style>
