<template>
  <!--
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </nav>
  -->
  <Menu></Menu>
  <router-view/>
</template>

<script>
import Menu from '@/components/Menu.vue'

export default {
  name: 'MenuAP',
  props: {
    msg: String
  },
  components:{
    Menu
  }
}
</script>
<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


</style>
